:root {
	--bg-color: #ffffff;
	--bg-secondary-color: #fcc419;
	--grid-maxWidth: 108rem;
	--grid-gutter: 2rem;
	--font-color: #212529;
	--color-primary: #e8590c;
	--color-error: #e03131;
	--color-success: #3b5bdb;
	--color-darkGrey: #141619;
	--font-family-sans: "Anybody", sans-serif;
	--font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
	--font-size: 2rem;
}

.bg-secondary {
	background-color: var(--bg-secondary-color);
}

.dark-mode {
	--bg-color: #141619;
	--bg-secondary-color: #141619;
	--font-color: #f1f3f5;
	--color-grey: #ced4da;
}

h1 {
	font-size: 12rem;
	margin: 0;
	line-height: 1.25;
	font-stretch: semi-expanded;
	font-weight: 900;
	letter-spacing: -0.04em;
}

h2 {
	font-weight: 700;
	font-size: 6.8rem;
	margin: 0;
	line-height: 1.25;
	font-stretch: condensed;
}

h3 {
	font-weight: 600;
	font-size: 3.4rem;
	margin: 0;
	line-height: 1.25;
	font-stretch: semi-condensed;
}

h4 {
	font-weight: 450;
	font-size: 2.2rem;
	margin: 0;
	line-height: 1.25;
	font-stretch: semi-expanded;
}

center {
	text-align: center;
}

header {
	position: fixed;
	top: 0;
}

footer {
	position: fixed;
	bottom: 0.25cm;
	left:0.25cm;
}

article {
	position: relative;
}

/* nav {
	position: fixed;
	top: 0;
} */

aside {
	position: absolute;
	bottom: 0;
}

article {
	break-after: page;
}

@page {
	size: letter;
	margin: 0.125in;
}

@media print {

	nav {
		display: none;
	}

	h1 {
		font-size: 8.6rem;
	}

	h2 {
		font-size: 4.4rem;
	}

	h3 {
		font-size: 2.8rem;
	}

	article {
		height: 100vh;
	}

}

@media screen and (max-width: 599px) {
	h1 {
		font-size: 6rem;
	}

	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 2.4rem;
	}
	.is-full-screen {
		min-height: auto;
	}
}