---
layout: layouts/home.njk
eleventyNavigation:
  key: 🕊
  order: 1
numberOfLatestPostsToShow: 100
---
<article class="is-full-screen hide-pr break-after">
    <h1 class="text-error hide-xs text-uppercase"> War Crimes In </h1>
    <div class="row">
        <div class="col">
            <a href="/palestine/"><h2 class="text-capitalize">🇵🇸 Palestine</h2></a>
            <br />
            <h3>When the world bears witness to war crimes, we must act.</h3><br/>
            <h3>🕊 Call for Ceasefire.<br/>
            💣 Call for Arms Controls.<br/>
            ⚖️ Call for War Crime Trials.</h3><br/>
        </div>
    </div>
</article>