---
layout: layouts/home.njk
eleventyNavigation:
  key: 🕊
  order: 1
numberOfLatestPostsToShow: 100
---
<article class="is-full-screen hide-pr break-after bg-secondary">
    <div class="container">
        <h1 class="text-error hide-xs text-uppercase">warcrimes.in</h1>
        <div class="row">
            <div class="col">
                <a href="/palestine/"><h1 class="text-capitalize">+ Palestine</h1></a>
                <a href="/new/"><h1 class="text-capitalize">Israel</h1></a>
                <a href="/new/"><h1 class="text-capitalize">Sri Lanka</h1></a>
                <a href="/new/"><h1 class="text-capitalize">Ethiopia</h1></a>
                <a href="/new/"><h1 class="text-capitalize">Sudan</h1></a>
                <a href="/new/"><h1 class="text-capitalize">Armenia</h1></a>
                <h3>When the world bears witness to war crimes, we must act.</h3><br/>
                <h3>🕊 Call for De-escalation.<br/>
                💣 Call for Arms Controls.<br/>
                ⚖️ Call for War Crime Trials.</h3><br/>
            </div>
        </div>
    <div class="container">
</article>