<aside class="is-full-width">
	<div class="row">
		<div class="col">
		{% include "hashtag.njk" %}<br />
		<h3>Call for Ceasefire.<br/>
		Call for War Crime Trials.<br/>
        Call for Palestinian Nationhood.<br/>
		</div>
	</div>
</aside>