<article class="is-full-screen hide-pr break-after">
    <h1 class="text-error hide-xs text-uppercase"> War Crime </h1>
    <div class="row">
        <div class="col">
            <h2 class="text-capitalize">#WarCrimesInPalestine Posters</h2>
            <h3>Since the start of Israel-Hamas, Israel 🇮🇱 has engaged in and been charged with war crimes against Palestinian 🇵🇸 civilians.</h3><br/>
            <h4><a href="https://www.alhaq.org/advocacy/22138.html">Al-Haq, Al Mezan and Palestinian Center for Human Rights</a> along with <a href="https://rsf.org/en/rsf-files-complaint-icc-war-crimes-against-journalists-palestine-and-israel">Reporters Without Borders</a> have filed lawsuits or complaints with the International Criminal Court. The National Lawyers Guild, Palestine Legal and the Center for Constitutional Rights have put members of Congress <a href="https://ccrjustice.org/legal-organizations-put-members-congress-notice-complicity-genocide">on notice for complicity in genocide and war crimes</a>.</h2>
            <br />
            <h3>Print posters, call Congress and add to the <a href="https://github.com/warcrimesinpalestine/warcrimesinpalestine.github.io/issues">war crimes archive</a>.</h3><br>
            <a class="button error" href="/WCIP-v1.pdf"><h3>📄 Posters</h3></a><a class="button success" href="https://5calls.org/issue/israel-palestine-gaza-war-hamas-ceasefire/"><h3>🕊 Ceasefire</h3></a>
            <br /><br />
            <h3>🕊 Call for Ceasefire.<br/>
            💣 Call for Arms Controls.<br/>
            ⚖️ Call for War Crime Trials.<br/>
        </div>
    </div>
</article>