<article class="is-full-screen hide-pr break-after">
    <h1 class="text-error hide-xs text-uppercase"> War Crime </h1>
    <div class="row">
        <div class="col">
            <h2 class="text-capitalize">#WarCrimesInPalestine Posters</h2>
            <h4>Since the start of the Israel-Hamas war on October 7th, the War Cabinet has directed Israeli Defence Forces to kill 10,203 Gazan civilians including 4,812 children. 2,551 more Gazans are considered missing under rubble. 53,700 units have been destroyed leaving over 1,600,000 Gazans displaced. International observers considers these actions to be war crimes.</h2>
            <br />
            <a class="button error" href="/WCIP-v1.pdf">📄 Posters</a><a class="button success" href="https://5calls.org/issue/israel-palestine-gaza-war-hamas-ceasefire/">🕊 Ceasefire</a>
            <br /><br />
            <h4>With the goal of calling for a ceasefire, war crime trials and Palestinian nationhood, organizers are hanging up these posters around the world. You can also <a href="https://github.com/warcrimesinpalestine/warcrimesinpalestine.github.io/issues">add to the archive</a>.
            <br /><br />
            <h3>Call for Ceasefire.<br/>
            Call for War Crime Trials.<br/>
            Call for Palestinian Nationhood.<br/>
        </div>
    </div>
</article>