<article class="is-full-screen hide-pr break-after">
    <h1 class="text-error hide-xs text-uppercase"> War Crime </h1>
    <div class="row">
        <div class="col">
            <h2 class="text-capitalize">#WarCrimesInPalestine</h2>
            <h4>Since the start of the Israel-Hamas war on October 7th, the War Cabinet has directed Israeli Defence Forces to kill 10,203 Gazan civilians including 4,812 children. 2,551 more Gazans are considered missing under rubble. Some 53,700 dwelling and commercial units have been destroyed leaving over 1,600,000 Gazans displaced. International observers considers these and other actions to be war crimes, many of which have been archived here. You can <a href="https://github.com/warcrimesinpalestine/warcrimesinpalestine.github.io/issues/new/choose">add to the archive</a> on GitHub.</h2>
            <br/>
            <h4>With the goal of calling for a ceasefire, war crime trials and Palestine nationhood, organizers are hanging up these posters around the world.
            <br /><br />
            <a class="button error" href="/WCIP-v1.pdf">📄 Download Posters</a><a class="button error hide-xs hide-sm" href="javascript:if(window.print)window.print()">🖨 Print</a><a class="button success" href="https://ceasefiretoday.com">🕊 Ceasefire</a>
            <br /><br />
            <h3>Call for Ceasefire.<br/>
            Call for War Crime Trials.<br/>
            Call for Palestinian Nationhood.<br/>
        </div>
    </div>
</article>