{# {%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %} #}
{% for post in postslist | reverse %}
<article class="is-full-screen break-after">
<h1 class="text-error hide-xs text-uppercase"> War Crime </h1>
<div class="row">
	<div class="col">
		<h2 class="text-capitalize">{{ post.data.title }}</h2>
	</div>
</div>
<div class="row">
	<div class="col-10">
		<h3>Article violation(s):<br/>
		{%- for tag in post.data.tags | filterTagList %}
			{{ tag }}<br />
		{%- endfor %}
		</h3><br/>
		<h4>{{ post.content | safe }}</h4>
		<ul>
		{%- for source in post.data.sources | filterTagList %}
			<li><a href="{{ source }}">{{ source }}</a></li>
		{%- endfor %}
		</ul>
		<div class="hide-xs hide-sm hide-md hide-lg">
			<h3 >#WarCrimesInPalestine</h3>
			<h4>10,300 Gazans Killed. 4,300 Children Killed. 1,300 Children Missing. 5,200 Homes Bombed. 1,000,000 Homeless.</h2>		
		</div>
	</div>
	<div class="col-2">
		<h2><a href="{{ post.url }}"><time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate("LLL yyyy") }}</time></a></h3>
	</div>
</div>

<aside class="hide-xs hide-sm hide-md hide-lg is-full-width">
	<div class="row">
		<div class="col">		
		<img src="https://chart.googleapis.com/chart?cht=qr&chs=105x105&chl=http%3A//ceasefiretoday.com" class="pull-right" />
		<h3>Call for Ceasefire.<br/>
		Call for War Crime Trials.<br/>
		Call for Boycott, Divestment, Sanctions.</h3>
		</div>
	</div>
</aside>
</article>
{% endfor %}
