{# {%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %} #}
{% for post in postslist | reverse %}
<article class="is-full-screen break-after">
<h1 class="text-error hide-xs"> War Crime </h1>
<div class="row">
	<div class="col">
		<h2>{{ post.data.title }}</h2>
	</div>
</div>
<div class="row">
	<div class="col-3">
		
		<h3><a href="{{ post.url }}"><time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate("LLLL yyyy") }}</time></a></h3>
	</div>
	<div class="col-9">
		<h3>Article Violation(s):<br/>
		{%- for tag in post.data.tags | filterTagList %}
		{{ tag }}
		{%- endfor %}
		</h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<h4>{{ post.content | safe }}</h4>
		<p>
		{%- for source in post.data.sources | filterTagList %}
			<a href="{{ source }}">{{ source }}</a>
		{%- endfor %}
		</p>
		<h3 class="hide-xs hide-sm hide-md hide-lg">#WarCrimesInPalestine</h3>
	</div>
</div>

<aside class="hide-xs hide-sm hide-md hide-lg">
	<h3>Call for Ceasefire.<br/>
	Call for War Crime Trials.<br/>
	Call for Boycott and Divestment.</h3>
</aside>
</article>
{% endfor %}
