---
layout: layouts/base.njk
---

<div class="row">
	<div class="col"></div>
	<div class="col">
		<h3>{{ title }}</h3>
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<p><a href="{{ tagUrl }}" class="post-tag">Violation of Article {{ tag }}</a>{%- if not loop.last %}, {% endif %}</p>
		{%- endfor %}
		<p><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></p>
	</div>
</div>

<div class="row">
	<div class="col">
		<h2>{{ description }}</h2>
		{{ content | safe }}
	</div>
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
