---
layout: layouts/base-dark.njk
---
<article class="is-full-screen break-after">
<h1 class="text-error hide-xs text-uppercase"> War Crime </h1>
<div class="row">
	<div class="col">
		<h2 class="text-capitalize">{{ title }}</h2>
	</div>
</div>
<div class="row">
	<div class="col">
		<h3>Article violation(s):<br/>
		{%- for tag in tags | filterTagList %}
			{{ tag }}<br />
		{%- endfor %}
		</h3><br/>
	</div>
	</div>
</div>

{% include "calls.njk" %}

<section class="hide-pr">
	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	{%- if previousPost %}Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
	{%- if nextPost %}Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
	{%- endif %}
	{%- endif %}
</section>
</article>