---
layout: layouts/base.njk
---

<article class="is-full-screen break-after">
<h1 class="text-error hide-xs"> War Crime </h1>
<div class="row">
	<div class="col">
		<h2>{{ title }}</h2>
	</div>
</div>

<div class="row">
	<div class="col-3">
		
		<h3><time datetime="{{ date | htmlDateString }}">{{ date | readableDate("LLLL yyyy") }}</time></h3>
	</div>
	<div class="col-9">
		<h3>Article Violation(s):<br/>
		{%- for tag in tags | filterTagList %}
		{{ tag }}
		{%- endfor %}
		</h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<h4>{{ content | safe }}</h4>
		<p>
		{%- for source in sources | filterTagList %}
			<a href="{{ source }}">{{ source }}</a>
		{%- endfor %}
		</p>
		<h3 class="hide-xs hide-sm hide-md hide-lg">#WarCrimesInPalestine</h3>
	</div>
</div>

<aside class="hide-xs hide-sm hide-md hide-lg">
	<h2>Call for Ceasefire.</h2>
	<h2>Call for War Crime Trials.</h2>
</aside>

<section class="hide-pr">
	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	{%- if previousPost %}Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
	{%- if nextPost %}Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
	{%- endif %}
	{%- endif %}
</section>
</article>